<footer class="page-footer blue-grey darken-4">
  <div class="container">
    {{yield}}
  </div>
  <div class="footer-copyright">
    <div class="yellow-text text-accent-4 container">
      Made by Franciskone using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>