<nav class="grey darken-4 header-swapi" role="navigation">
  <div class="nav-wrapper container">
    {{#link-to "play"}}<a href="" class="yellow-text text-accent-4 brand-logo">SWAPI TEST</a>{{/link-to}}
  </div>
</nav>