<div class="opponent-card card {{if playerInfo.isWinner 'z-depth-5'}}">
  {{#unless playerInfo.isWinner}}
    <div class="loser-overlay"></div>
  {{/unless}}

  <div class="card-image">
    <img src={{playerInfo.imageUrl}}>
    <span class="card-title">{{playerInfo.data.name}}</span>
  </div>
  <div class="card-content">

    {{#if isPeopleType }}
      {{people-card-detail
        isWinner=playerInfo.isWinner
        height=playerInfo.data.height
        mass=playerInfo.data.mass
        hairColor=playerInfo.data.hair_color
        skinColor=playerInfo.data.skin_color
        eyeColor=playerInfo.data.eye_color
        birthYear=playerInfo.data.birth_year
        gender=playerInfo.data.gender
      }}
    {{else}}
      {{starship-card-detail
        isWinner=playerInfo.isWinner
        name=playerInfo.data.name
        model=playerInfo.data.model
        manufacturer=playerInfo.data.manufacturer
        costInCredits=playerInfo.data.cost_in_credits
        length=playerInfo.data.length
        passengers=playerInfo.data.passengers
        cargoCapacity=playerInfo.data.cargo_capacity
        hyperdriveRating=playerInfo.data.hyperdrive_rating
        starshipClass=playerInfo.data.starship_class
        crew=playerInfo.data.crew
      }}
    {{/if}}

  </div>
</div>