<ul class="people-card-detail">
  <li>height: {{height}}</li>
  <li>hair color: {{hairColor}}</li>
  <li>skin color: {{skinColor}}</li>
  <li>eye color: {{eyeColor}}</li>
  <li>birth year: {{birthYear}}</li>
  <li>gender: {{gender}}</li>
  <li>mass:
    {{#if isWinner}}
      <div class="chip winner green accent-3 white-text">
        {{mass}}
        <i class="close material-icons">check</i>
      </div>
    {{else}}
      {{mass}}
    {{/if}}
  </li>
</ul>