{{#if isDataReady}}
  <div class="container center-align play-buttons-wrapper">
    <br><br>
    <a class="people-play-button waves-effect waves-light btn-large red darken-1"
      {{action "updateCurrentGameWithPeople"}}
    >
      <i class="material-icons left">account_circle</i>PLAY
    </a>
    <a class="starships-play-button waves-effect waves-light btn-large light-blue darken-4"
      {{action "updateCurrentGameWithStarships"}}
    >
      <i class="material-icons left">local_airport</i>PLAY
    </a>
    <br><br>
  </div>
  {{#if currentGame}}
    {{play-results
      playerOneWinAmount=playerOneWinAmount
      playerTwoWinAmount=playerTwoWinAmount
      currentGame=currentGame
    }}
  {{else}}
    <div class="cta-container">
      <br><br>
      <h1 class="header center yellow-text text-accent-4">Press a button to start</h1>
      <div class="row center">
        <h5 class="header col s12 light">Red button to choose People, Blue button to choose Starships</h5>
      </div>
    </div>
  {{/if}}

{{else}}

  <div class="container">
    <br><br>
    <h1 class="header center yellow-text text-accent-4">SWAPI TEST</h1>
    <div class="row center">
      <h5 class="header col s12 light">Fetching Star Wars data ...</h5>
    </div>
    {{loading-spinner}}
  </div>

{{/if}}
