<div class="container">
  <br><br>
  <div class="row">
    <div class="col s12 m6 player-one">
      <div class="player-one win-counter">
        {{win-display
          amount=playerOneWinAmount
        }}
      </div>

      {{ opponent-card-swapi
        playerInfo=currentGame.playerOne
        isPeopleType=currentGame.isPeopleType
      }}
    </div>
    <div class="col s12 m6 player-two">
      <div class="player-two win-counter">
        {{win-display
          amount=playerTwoWinAmount
        }}
      </div>

      {{ opponent-card-swapi
        playerInfo=currentGame.playerTwo
        isPeopleType=currentGame.isPeopleType
      }}
    </div>
  </div>
  <br><br>
</div>