<ul class="starship-card-detail">
  <li>name: {{name}}</li>
  <li>model: {{model}}</li>
  <li>manufacturer: {{manufacturer}}</li>
  <li>cost in credits: {{costInCredits}}</li>
  <li>length: {{length}}</li>
  <li>passengers: {{passengers}}</li>
  <li>cargo capacity: {{cargoCapacity}}</li>
  <li>hyperdrive rating: {{hyperdriveRating}}</li>
  <li>starship class: {{starshipClass}}</li>
  <li>crew:
    {{#if isWinner}}
      <div class="chip winner green accent-3 white-text">
      {{crew}}
      <i class="close material-icons">check</i>
      </div>
    {{else}}
      {{crew}}
    {{/if}}
  </li>
</ul>