/* opponent card: winner chip absolute positioning */
/*.opponent-card .chip.winner {*/
  /*position: absolute;*/
  /*z-index: 2;*/
  /*top: 12px;*/
  /*right: 12px;*/
  /*margin: 0;*/
/*}*/

.full-height--container {
  min-height: 100vh;
  /*background-color: red;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body-container {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.opponent-card .loser-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  right: 0;
  z-index: 2;
}


.opponent-card.winner {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opponent-card.card .card-image img {
  height: 20vh;
  min-height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav-wrapper a a {
  width: 100%;
}
